{% extends "datalocker/app_template.html" %}
{% load staticfiles %}

{% block breadcrumb-trail %}
  <li class="active">
    Change your password
  </li>
{% endblock breadcrumb-trail %}

{% block page-meta-title %}Change your password{% endblock page-meta-title %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <h1>Change your password</h1>

        <ul class="messages list-unstyled" id="user-messages">
          {% for msg in messages %}
            <li class="alert {{ msg.tags }}">{{ msg|safe }}</li>
          {% endfor %}

          {% if form.errors and not form.non_field_errors %}
            <li class="alert alert-danger">
              <strong>Oops!</strong>
              {% if form.errors.items|length == 1 %}
                Please correct the error below.
              {% else %}
                Please correct the errors below.
              {% endif %}
            </li>
          {% endif %}

          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <li class="alert alert-danger">
                <strong>Oops!</strong> {{ error }}
              </li>
            {% endfor %}
          {% endif %}
        </ul>

        <form action="{{ app_path }}" method="post">
          {% csrf_token %}

          <p>
            Please enter your old password, for security's sake,
            and then enter your new password twice so we can
            verify you typed it in correctly.
          </p>

          <div class="form-group {% if form.old_password.errors %}has-error has-feedback{% endif %}">
            <label for="id-old-password" class="control-label">Old password</label>
            <input type="password" id="id-old-password" name="old_password"
                   class="form-control"
                   autocomplete="off"
                   {% if form.old_password.errors %}aria-describedby="id-old-password-error-status"{% endif %} />
            {% if form.old_password.errors %}
              <span class="glyphicon glyphicon-remove form-control-feedback"
                    aria-hidden="true"></span>
              <span id="id-old-password-error-status" class="help-block">
                {{ form.old_password.errors }}
              </span>
            {% endif %}
          </div>
          <div class="form-group {% if form.new_password1.errors %}has-error has-feedback{% endif %}">
            <label for="id-new-password1" class="control-label">New password</label>
            <input type="password" id="id-new-password1" name="new_password1"
                   class="form-control"
                   autocomplete="off"
                   {% if form.new_password1.errors %}aria-describedby="id-new-password1-error-status"{% endif %} />
            {% if form.new_password1.errors %}
              <span class="glyphicon glyphicon-remove form-control-feedback"
                    aria-hidden="true"></span>
              <span id="id-new-password1-error-status" class="help-block">
                {{ form.new_password1.errors }}
              </span>
            {% endif %}
          </div>
          <div class="form-group {% if form.new_password2.errors %}has-error has-feedback{% endif %}">
            <label for="id-new-password2" class="control-label">
              New password confirmation
            </label>
            <input type="password" id="id-new-password2" name="new_password2"
                   class="form-control"
                   autocomplete="off"
                   {% if form.new_password2.errors %}aria-describedby="id-new-password2-error-status"{% endif %} />
            {% if form.new_password2.errors %}
              <span class="glyphicon glyphicon-remove form-control-feedback"
                    aria-hidden="true"></span>
              <span id="id-new-password2-error-status" class="help-block">
                {{ form.new_password2.errors }}
              </span>
            {% endif %}
          </div>

          <div class="submit-row">
            <input type="submit" class="btn btn-primary"
                   value="Change my password" />
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block site-scripts %}
    {{ block.super }}
    <script type="text/javascript">
      document.getElementById('id_old_password').focus()
    </script>
{% endblock site-scripts %}
