{# Copyright 2015 The Pennsylvania State University. Office of the Vice Provost for Educational Equity. All Rights Reserved. #}
{% extends "datalocker/app_template.html" %}
{% load staticfiles %}

{% block breadcrumb-trail %}
  <li class="active">
    Server error
  </li>
{% endblock breadcrumb-trail %}

{% block page-meta-title %}Server Error{% endblock page-meta-title %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h1>Oh No!</h1>
        <ul class="messages list-unstyled" id="user-messages">
          {% for msg in messages %}
            <li class="alert {{ msg.tags }}">{{ msg|safe }}</li>
          {% endfor %}
        </ul>
        <p class="lead">
          Something has gone horribly wrong.
        </p>
        <p>
          We are really sorry about this inconvenience but it appears that
          something has gone unpredictibly wrong with the application.
          Rest assured that this error has been logged and
          our developers will be working on a solution soon.
        </p>
        <p>
          Again, sorry for the inconvenience. Please try
          <a href="{% url 'datalocker:index' %}">
            starting over from the beginning
          </a>.
        </p>
      </div>
    </div>
  </div>
{% endblock %}