{# Copyright 2015 The Pennsylvania State University. Office of the Vice Provost for Educational Equity. All Rights Reserved. #}
{% extends "datalocker/main_template.html" %}

{% comment %}

    This template exists to make it easy to customize the site wide template
    without having to completely replace the `main_template.html` file in
    your product.

    To utilize this feature, create a Django application that is loaded before
    the `datalocker` application in `INSTALLED_APPS`.
    Within your Django application, copy this file to:
        templates\datalocker\app_template.html

    In that file, you can redefine any of the {% block %} elements that exist
    in `main_template.html` below this comment.

{% endcomment %}
