{# Copyright 2015 The Pennsylvania State University. Office of the Vice Provost for Educational Equity. All Rights Reserved. #}
{% extends "datalocker/app_template.html" %}
{% load staticfiles %}

{% block breadcrumb-trail %}
  <li>
    <a href="{% url 'datalocker:index' %}">
      <span class="sr-only">List of </span>My Lockers
    </a>
  </li>
  <li class="active">All Submissions
    <span class="sr-only"> for {{ locker.name }}</span>
  </li>
{% endblock breadcrumb-trail %}

{% block page-meta-title %}Submissions{% endblock page-meta-title %}


{% block site-styles %}
  {{ block.super }}
  <link type="text/css" rel="stylesheet"
        href="{% static 'datalocker/css/bootstrap-toggle.min.css' %}" />
{% endblock site-styles %}

{% block content %}
  <div class="container-fluid">
    {% if allow_maintenance_mode %}
      <div class="pull-right">
        {% if perms.datalocker.add_manual_submission %}
          <button class="btn btn-xs btn-primary js-submission-add hidden-print"
                  data-target="#dialog-submission-manual"
                  data-toggle="modal"
                  title="Manually add a submission to the locker"
                  >Add submission</button>
          &nbsp;
        {% endif %}
        <div class="switch-toggle hidden-print">
          <input type="checkbox"
                 name="maintenance-mode-toggle"
                 data-size="mini"
                 data-toggle="toggle"
                 data-onstyle="success"
                 data-offstyle="danger"
                 data-on="Done editing"
                 data-off="Edit submissions" />
        </div>
      </div>
    {% endif %}
    <h1>{{ locker.name }}</h1>
    <ul class="messages list-unstyled" id="user-messages">
      {% for msg in messages %}
        <li class="alert {{ msg.tags }}">{{ msg|safe }}</li>
      {% endfor %}
      <li class="alert alert-warning warning-maintenance-mode">
        <strong>Note:</strong>
        <em>Deleted</em> submissions will be permanently removed automatically
        after {{ purge_days }} days.
      </li>
    </ul>
    <button class="btn btn-default btn-xs hidden-print"
            role="filter-results"
            type="button"
            >Select the fields to display in the table</button>
    <table class="table table-striped table-hover listing tablesorter"
           name="submission listing"
           id="submission-list"
           data-csrf-token="{{ csrf_token }}"
           data-locker-id="{{ locker.id }}"
           data-delete-url="{% url 'datalocker:submission_delete' locker.id 0 %}"
           data-undelete-url="{% url 'datalocker:submission_undelete' locker.id 0 %}"
           >
      <caption>Form Submissions</caption>
      <thead>
        {% for heading in column_headings %}
          <th>{{ heading }}</th>
        {% endfor %}
        <th class="record-actions sr-only">Delete Submissions</th>
      </thead>
      <tbody>
        {# This is getting submissions that were submitted to the locker #}
        {% for submission in data %}
          <tr class="{% if submission.2 %}is-deleted{% endif %}"
              data-id="{{submission.1 }}"
              data-purge-timestamp="{{ submission.3|date:'c' }}"
              >
            {% for value in submission.0 %}
              <td data-count="{{ forloop.counter0 }}">
                {% if forloop.counter0 in linkable_indices %}
                  <a class="link"
                     href="{% url 'datalocker:submission_view' locker.id submission.1 %}"
                     >{{ value }}</a>
                  <span class="label label-danger label-deleted" />
                {% else %}
                  {{ value }}
                {% endif %}
              </td>
            {% endfor %}
            <td class="record-actions">
              <button type="button"
                role="delete-submission"
                class="btn btn-xs btn-danger"
                >Delete</button>
              <button type="button"
                role="undelete-submission"
                class="btn btn-xs btn-success"
                >Undelete</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}


{% block dialogs %}
{# Modal for filtering out the data shown in the submission list #}
  <div aria-hidden="true"
       aria-labelledby="dialog-filter-results-title"
       class="modal fade"
       id="dialog-filter-results"
       role="dialog"
       tabindex="-1"
       >
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{% url 'datalocker:submissions_list' locker.id %}"
              method="POST"
              name="modalForm"
              >
          {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"
                id="dialog-filter-results-title"
                >Select the form fields to display below</h4>
          </div>
          <div class="modal-body">
            <div>
              <label class="select-all-checkbox">
                <input data-target="fields-list"
                       id="fields-select-all"
                       role="select-all"
                       type="checkbox"
                       />
                Select All
              </label>
            </div>
            <ul class="list-unstyled" id="fields-list">
              {% for field in fields_list %}
                <li>
                  <label>
                    <input class="checkbox-inputs"
                           id="{{ field|slugify }}"
                           name="{{ field|slugify }}"
                           type="checkbox"
                           {% if field in selected_fields %}
                             checked="checked"
                           {% endif %}
                           />
                    {{ field }}
                  </label>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="modal-footer">
            <input class="btn btn-primary btn-sm pull-left"
                   type="submit"
                   value="Update"
                   />
            <input class="btn btn-default btn-sm pull-left"
                   data-dismiss="modal"
                   type="button"
                   value="Close"
                   />
          </div>
        </form>
      </div>
    </div>
  </div>


{# Modal for adding a manual submission #}
  <div aria-hidden="true"
       aria-labelledby="dialog-submission-manual-title"
       class="modal fade"
       id="dialog-submission-manual"
       role="dialog"
       tabindex="-1"
       >
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{% url 'datalocker:submission_add' locker.id %}"
              method="POST"
              >
          {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"
                id="dialog-submission-manual-title"
                >Manually add a submission to the locker</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="submission-json">Paste the submission data in JSON format</label>
              <textarea class="form-control"
                        id="submission-json"
                        name="json"
                        rows="15"
                        ></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <input class="btn btn-primary btn-sm pull-left"
                   type="submit"
                   value="Add"
                   />
            <input class="btn btn-default btn-sm pull-left"
                   data-dismiss="modal"
                   type="button"
                   value="Cancel"
                   />
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}


{% block site-scripts %}
    {{ block.super }}
    <script type="text/javascript"
            src=" {% static 'datalocker/js/bootstrap-toggle.js' %}"></script>
    {% comment %}
    <script type="text/javascript"
            src=" {% static 'datalocker/js/tablesorter.js' %}"></script>
    {% endcomment %}
    <script type="text/javascript"
            src=" {% static 'datalocker/js/select-all.js' %}"></script>
    <script type="text/javascript"
            src=" {% static 'datalocker/js/submission.js' %}"></script>
{% endblock site-scripts %}
