{% extends "datalocker/app_template.html" %}
{% load staticfiles %}

{% block breadcrumb-trail %}
  <li class="active">
    Logged out
  </li>
{% endblock breadcrumb-trail %}

{% block page-meta-title %}Logged out{% endblock page-meta-title %}

{% block content %}
  <div class="container-fluid">
    <h1>Logged out</h1>
    <p>Thanks for spending some quality time with the Data Locker today.</p>
    <p><a href="{% url 'datalocker:app_login' %}">Log in again</a></p>
  </div>
{% endblock %}
