{# Copyright 2015 The Pennsylvania State University. Office of the Vice Provost for Educational Equity. All Rights Reserved. #}
{% extends "datalocker/app_template.html" %}
{% load staticfiles %}

{% block breadcrumb-trail %}
  <li class="active">
    Not found error
  </li>
{% endblock breadcrumb-trail %}

{% block page-meta-title %}Not Found{% endblock page-meta-title %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h1>Oops!</h1>
        <ul class="messages list-unstyled" id="user-messages">
          {% for msg in messages %}
            <li class="alert {{ msg.tags }}">{{ msg|safe }}</li>
          {% endfor %}
        </ul>
        <p class="lead">
          Well this is a bit embarrassing but you have apparently asked for
          something that we have misplaced.
        </p>
        <p>
          Sorry for the inconvenience. Please try
          <a href="{% url 'datalocker:index' %}">starting from the beginning</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock %}