{# Copyright 2015 The Pennsylvania State University. Office of the Vice Provost for Educational Equity. All Rights Reserved. #}
{% extends "datalocker/app_template.html" %}
{% load staticfiles %}

{% block page-meta-title %}My Lockers{% endblock page-meta-title %}

{% block content %}
    <h1 class="hidden">Data lockers</h1>
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="active"><span class="sr-only">List of </span>My Lockers</li>
      </ol>
      <h2 class="italic">My Lockers</h2>
      {% if my_lockers_list|length == 0 %}
        <p>You currently do not own any Lockers.
        You can add lockers of your own by adding a forms from Plone Form Gen.
        </p>
      {% else %}
        <button name="show-hide-lockers" class="btn btn-default btn-xs button-archived-showhide" title="Show/Hide Archived Lockers">Show Archived Lockers</button>
        <table class="table table-striped table-hover listing tablesorter"
          id="locker-list">
          <caption>List of Lockers that I own</caption>
          <thead>
            <tr>
              <th>Form Name</th>
              <th class="hidden-xs">Latest Submission</th>
              <th><span class="sr-only">Locker Actions</span></th>
            </tr>
          </thead>
          <tbody>
            {% for locker in my_lockers_list %}
              {% if locker.owner == user.username %}
                <tr data-id="{{ locker.id }}" data-name="{{ locker.name }}"
                {% if locker.archive_timestamp != None %} class="is-archived" {% endif %}>
                  <td class="record-name">
                      <a href="{% url 'datalocker:submissions_list' locker.pk %}">{{ locker.name }}</a>
                    {% if locker.archive_timestamp != None %}
                      <span class="label label-default js-archived-label">Archived</span>
                    {% endif %}
                  </td>
                  <td class="hidden-xs">{{ locker.latest_submission }}</td>
                  <td class="record-actions">
                    <button type="button" class="btn btn-primary btn-xs" role="edit-users" title="Edit users for this locker">Users</button>
                    <button type="button" class="btn btn-info btn-xs" role="edit-locker" title="Edit this locker">Edit</button>
                    {% if locker.archive_timestamp != None %}
                    <button type="button" class="btn btn-success btn-xs archive-button"
                      id="unarchive-locker" role="archive-locker"
                      data-url="{% url 'datalocker:unarchive_locker' 0 %}">Unarchive</button>
                    {% else %}
                    <button type="button" class="btn btn-danger btn-xs archive-button"
                      id="archive-locker" role="archive-locker"
                      data-url="{% url 'datalocker:archive_locker' 0 %}">Archive</button>
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
      <hr />
      <h2 class="italic">Lockers Shared with Me</h2>
      <table class="table table-striped table-hover listing tablesorter"
        id="shared-locker-list">
        <caption>List of Lockers that have been shared with me</caption>
        <thead>
          <tr>
            <th>Form Name</th>
            <th class="hidden-xs">Latest Submission</th>
          </tr>
        </thead>
        <tbody>
          {% for locker in my_lockers_list %}
            {% if locker.owner != user.username %}
                <tr data-id="{{ locker.id }}"
                {% if locker.archive_timestamp != None %} class="is-archived" {% endif %}>
                  <td class="record-name">
                    <a href="{% url 'datalocker:submissions_list' locker.pk %}">{{ locker.name }}
                    </a>
                    {% if locker.archive_timestamp != null %}
                      <span class="label label-default">Archived</span>
                    {% endif %}
                  </td>
                  <td class="hidden-xs">{{ locker.latest_submission }}</td>
                </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}


{% block dialogs %}
{% comment %}
  Modal used for Editing the Locker.
  The name and the owner of the existing
  Locker is what is changed here
{% endcomment %}
  <div class="modal fade" id="dialog-edit-users" tabindex="-1"
    role="dialog" aria-labelledby="dialog-edit-users-title"
    aria-hidden="true" data-locker-id="0">
      <div class="modal-dialog">
        <div class="modal-content">
          <form method="POST" name="modalForm"  action=""
            data-url="{% url 'datalocker:locker_user_add' 0 %}">
            {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="dialog-edit-users-title">Share access to this locker</h4>
          </div>
          <div class="modal-body">
            <div>
              <h5 clss="modal-title"><strong>Users who have access to this locker</strong></h5>
              <ul id="existing-users"
                data-delete-url="{% url 'datalocker:locker_user_delete' 0 %}"
                data-url="{% url 'datalocker:locker_users' 0 %}">
              </ul>
              <h5 class="modal-title" id="dialog-edit-users-title"><strong>Share access to this locker with someone else</strong></h5>
              <label for="email"><span class="sr-only">Email Address</span></label>
              <input type="text" name="email" id="email" style="width:200px;" placeholder="Enter the email address to share this locker with">
              <button type="submit" class="btn btn-primary btn-sm add-btn" id="button-user-add">
                Add</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm pull-left"
              data-dismiss="modal" />Done</button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% comment %}
  Modal used for Edit the users of the Locker.
  You can add or remove users from the existing
  locker by adding or removing existing email addresses
{% endcomment %}
  <div class="modal fade" id="dialog-edit-locker" tabindex="-1" role="dialog"
    aria-labelledby="dialog-edit-locker-title" aria-hidden="true"
    data-locker-id="0">
      <div class="modal-dialog">
        <div class="modal-content">
          <form method="POST" name="modalLocker"
            data-url="{% url 'datalocker:modify_locker' 0 %}">
            {% csrf_token %}
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="dialog-edit-locker-title">Edit Locker</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
             <label for="edit-locker">Name</label>
               <input type="text"
                  name="edit-locker"
                  class="form-control"
                  id="edit-locker"
                  value="">
               <br/>
            </div>
            <div class="form-group">
              <label for="edit-owner">Owner</label>
                <input type="text"
                  name="edit-owner"
                  class="form-control"
                  id="edit-owner"
                  placeholder="Enter a new owner's email address">
               <br/>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary btn-sm pull-left" value="Done" />
            <button type="button" class="btn btn-default btn-sm pull-left"
              data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock dialogs%}

{% block site-scripts %}
    {{ block.super }}
    <script type="text/javascript"
            src=" {% static 'datalocker/js/tablesorter.js' %}"></script>
    <script type="text/javascript"
            src=" {% static 'datalocker/js/locker.js' %}"></script>
{% endblock site-scripts %}
