{# Copyright 2015 The Pennsylvania State University. Office of the Vice Provost for Educational Equity. All Rights Reserved. #}
{% extends "datalocker/app_template.html" %}
{% load staticfiles %}

{% block breadcrumb-trail %}
  <li>
    <a href="{% url 'datalocker:index' %}">
      <span class="sr-only">List of </span>My Lockers
    </a>
  </li>
  <li class="active">All Submissions
    <span class="sr-only"> for {{ locker.name }}</span>
  </li>
{% endblock breadcrumb-trail %}

{% block page-meta-title %}Submissions{% endblock page-meta-title %}


{% block site-styles %}
  {{ block.super }}
  <link type="text/css" rel="stylesheet"
        href="{% static 'datalocker/css/bootstrap-toggle.min.css' %}" />
{% endblock site-styles %}

{% block content %}
  <div class="container-fluid">
    {% if locker.owner = user.username %}
      <div class="switch-toggle">
        <input type="checkbox"
               name="maintenance-mode-toggle"
               data-size="mini"
               data-toggle="toggle"
               data-onstyle="success"
               data-offstyle="danger"
               data-on="Done editing"
               data-off="Edit submissions" />
      </div>
    {% endif %}
    <h1>{{ locker.name }}</h1>
    <ul class="messages list-unstyled" id="user-messages">
      {% for msg in messages %}
        <li class="alert {{ msg.tags }}">{{ msg|safe }}</li>
      {% endfor %}
      <li class="alert alert-warning warning-maintenance-mode">
        <strong>Note:</strong>
        <em>Deleted</em> submissions will be automatically purged
        after {{ purge_days }} days.
      </li>
    </ul>
    <button type="button" class="btn btn-default btn-xs" role="filter-results">
    Select the fields to display in the table</button>
    <table class="table table-striped table-hover listing tablesorter"
           name="submission listing"
           id="submission-list"
           data-csrf-token="{{ csrf_token }}"
           data-locker-id="{{ locker.id }}"
           data-delete-url="{% url 'datalocker:delete_submission' locker.id 0 %}"
           data-undelete-url="{% url 'datalocker:undelete_submission' locker.id 0 %}"
           >
      <caption>Form Submissions</caption>
      <thead>
        {% for heading in column_headings %}
          <th>{{ heading }}</th>
        {% endfor %}
        <th class="record-actions sr-only">Delete Submissions</th>
      </thead>
      <tbody>
        {# This is getting submissions that were submitted to the locker #}
        {% for submission in data %}
          <tr class="{% if submission.1 %}is-deleted{% endif %}"
              data-id="{{submission.0 }}"
              data-purge-timestamp="{{ submission.2|date:'c' }}"
              >
            {% for value in submission %}
              {% if forloop.counter > 3 %}
                <td name="date">
                  {% if forloop.counter == 4 %}
                    <a href="{% url 'datalocker:submissions_view' locker.id submission.0 %}"
                       style="display:block;"
                      >{{ value }}</a>
                    <span class="label label-danger label-deleted" />
                  {% else %}
                    {{ value }}
                  {% endif %}
                </td>
              {% endif %}
            {% endfor %}
            <td class="record-actions">
              <button type="button"
                role="delete-submission"
                class="btn btn-xs btn-danger"
                >Delete</button>
              <button type="button"
                role="undelete-submission"
                class="btn btn-xs btn-success"
                >Undelete</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}


{% block dialogs %}
{# Modal for filtering out the data shown in the submission list #}
  <div class="modal fade"
    id="dialog-filter-results"
    tabindex="-1"
    role="dialog"
    aria-labelledby="dialog-filter-results-title"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="POST"
          name="modalForm"
          action="{% url 'datalocker:submissions_list' locker.id %}">
          {% csrf_token %}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"
            id="dialog-filter-results-title">Select the form fields to display below</h4>
        </div>
        <div class="modal-body">
          <div>
            <input type="checkbox"
              id="fields-select-all"
              role="select-all"
              data-target="fields-list"/>
            <label for="fields-select-all"  class="select-all-checkbox">Select All</label>
          </div>
          <ul class="list-unstyled" id="fields-list">
          {% for field in fields_list %}
            <li>
              <input type="checkbox"
                id="{{ field|slugify }}"
                name="{{ field|slugify }}"
                class="checkbox-inputs"
                {% if field in selected_fields %}
                checked="checked" {% endif %} />
              <label for="{{ field|slugify }}">{{ field }}</label>
            </li>
          {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <input type="submit"
            class="btn btn-primary btn-sm pull-left"
            value="Update"/>
          <input type="button"
            class="btn btn-default btn-sm pull-left"
            value="Close"
            data-dismiss="modal">
          </button>
          </div>
        </div>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}


{% block site-scripts %}
    {{ block.super }}
    <script type="text/javascript"
            src=" {% static 'datalocker/js/bootstrap-toggle.js' %}"></script>
    <script type="text/javascript"
            src=" {% static 'datalocker/js/tablesorter.js' %}"></script>
    <script type="text/javascript"
            src=" {% static 'datalocker/js/select-all.js' %}"></script>
    <script type="text/javascript"
            src=" {% static 'datalocker/js/submission.js' %}"></script>
{% endblock site-scripts %}
