{% extends "datalocker/main_template.html" %}
{% load staticfiles %}

{% block page-meta-title %}Submission View{% endblock page-meta-title %}

{% block content %}
    <div class="container-fluid">
        <h1>{{ object.locker.name }} Submission</h1>
        <p><a href="{% url 'datalocker:submissions_list' object.locker.id %}">All Available Lockers</a></p>
        <table>
            <caption>Submission Data</caption>
            <tbody>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
                {% for key, value in object.data_dict.items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
{% endblock %}