{% extends "datalocker/main_template.html" %}
{% load staticfiles %}

{% block page-meta-title %}Submissions{% endblock page-meta-title %}

{% block content %}
    <div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="{% url 'datalocker:index' %}"><span class="sr-only">List of </span>My Lockers</a></li>
        <li class="active">All Submissions<span class="sr-only"> for {{ locker.name }}</span></li>
    </ol>
        <h1>{{ locker.name }}</h1>
        <table class="table table-striped table-hover listing" name="submission listing">
          <catption>Form Submissions</catption>
            <thead>
                    <th>Date of the Submission</th>
                    <th>Name of Submission</th>
                    <th><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Fields</button></th>
            </thead>
            <tbody>
                {% for submission in my_submission_list %}
                <tr>
                    <td>
                        <a href="{% url 'datalocker:submissions_view' submission.locker.id submission.pk %}"
                         >{{ submission.timestamp }}</a>
                    </td>
                    <td>
                        {{ submission.data }}
                    <td></td>
                 </tr>
                 {% endfor %}
            </tbody>
        </table>
      </div>
{% endblock %}


{% block dialogs %}
<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form method="GET" name="modalForm" action="{% url 'datalocker:submissions_list' locker.id %}">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Fields to view </h4>
          </div>
          <div class="modal-body">
            <label for="name">Name
            <input type="checkbox" id="name" value="name" name="displayFields"/></label><br />
            <label for="date">Date
            <input type="checkbox" id="date" checked="true" value="date" name="displayFields"/></label>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-info btn-sm save-button" />
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}