/** Data Locker common styles **/

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS.............You're reading it!
 * ARCHIVED.............Automatically hides archived classes by default on page load
 * BREADCRUMBS..........Breadcrumb list stying
 * TOGGLESWITCH.........Toggle Switch the stying when entering and exiting maintenance mode
 * GENERAL..............General styles
 * HEADER...............Styling specifically for the page header
 * ACCESSIBILITY........Improve the accessibility of certain structures
 * BUTTONS..............Button styling
 * FOOTER...............Styling specifically for the page footer
 */



/*------------------------------------*\
    $ARCHIVED
\*------------------------------------*/
.archive-button {
  margin-right: .5em;
}

.button-archived-showhide .is-active {
  display: active;
}
.is-archived {
  display: none;
}

.is-archived .js-archived-label {
  display: inline;
}

.js-archived-label {
  display: none;
  margin-left: .5em;
}




/*-----------------------------------*\
    $BREADCRUMBS
\*-----------------------------------*/

.document-breadcrumbs {
  margin: 0.2em 1em;
}

/*ol*/.breadcrumb-trail {
  display: inline-block;
  list-style-type: none;
  padding-left: 0.5em;
}

/*ol*/.breadcrumb-trail > li {
    display: inline-block;
}

/*ol*/.breadcrumb-trail > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

/*ol*/.breadcrumb-trail > .active {
  color: #777;
}




/*-----------------------------------*\
    $EXISTINGUSERS
\*-----------------------------------*/
.existing-users-list {
  display: inline;
}
.remove-users {
  padding-left: 2px;
  margin-top: 2px;
  /*margin-right: 80%;*/
}

/*-----------------------------------*\
    $SUBMISSIONVIEWPAGE
\*-----------------------------------*/
ul {
  list-style-type: none;
}

ul .header{
  font-size: 16px;
  padding-top: 1em;
}

ul .information {
  font-size: 16px;
  font-weight: bold;
  padding-left: 2em;
}

/*------------------------------------*\
    $TABLES
\*------------------------------------*/
.record-actions {
  text-align: right;
}

.record-name {
  width: 600px;
}


/*------------------------------------*\
    $TOGGLESWITCH
\*------------------------------------*/

.maintenance-mode-switch {
  float:right;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "OFF";
    padding-left: 10px;
    background-color: #EEEEEE; color: #999999;

}

.onoffswitch-inner:after {
    content: "ON";
    padding-right: 10px;
    background-color: #34A7C1; color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 16px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 2px;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.toggle.btn {
  width: 130px;
  min-width: 59px;
  min-height: 34px;
  float: right;
 }

.onoffswitch {
  width: 130px;
  min-width: 59px;
  min-height: 34px;
  float: right;
 }
/*-----------End code for the toggle switch --------*/

/*------------------------------------*\
    $GENERAL
\*------------------------------------*/

.add-btn{
padding:3px 4px;
vertical-align: top;
}

caption {
  font-size: 1.75em;
}

.document-footer {
  margin-top: 150px;
}
.deleted{
  display: none;
  text-decoration: line-through;
}

.delete-submission{
  display: none;
}

.dl-horizontal dd {
  margin-left: 150px;
  line-height: 2.5;
  font-size:16px;
}

.dl-horizontal dt {
  float: left;
  width: 450px;
  clear: left;
  text-align: justify;
  padding-left: 2em;
  /*text-overflow: ellipsis;*/
 /* white-space: nowrap;*/
  font-size:16px;
}

h1.hidden {
  visibility: hidden;
}

h2.italic {
  font-style: italic;
}

.pagination {
  margin: .5em;
}

.pagination a {
  margin: .5em;
 }

.rounding {
  border-radius: 5px;
}

.select-all-checkbox {
  font-size: 12px;
  font-weight: normal;
}

.submission-heading {
  font-weight: bold;
}

.sub-list {
  margin-left: 2em;
  font-size: 16px;
}

.sub-list dd {
  padding-bottom: 1em;
}

.undeleted-submission{
  display: none;
}




/*-----------------------------------*\
    $HEADER
\*-----------------------------------*/

/**
 * Bootstrap implements a margin below a navigation bar, this shifts that
 * margin to the overall header and not just the navigation bar.
 */
.document-header .navbar { margin-bottom: 0; }
header { margin-bottom: 20px; }




/*------------------------------------*\
    $ACCESSIBILITY
\*------------------------------------*/

/**
 * More accessible definition list styling
 */
/*ul*/.definition-list {
    list-style-type: none;
}

/*ul*/.definition-list li {
    margin-bottom: 2em;
}

/*ul*/.definition-list li h2,
/*ul*/.definition-list li h3,
/*ul*/.definition-list li h4 {
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0;
}

/*ul*/.definition-list li p {
    margin-left: 3em;
}


/**
 * Accessible key/value pair listing using the Bootstrap grid system
 */
/*ul*/.list-grid > li {
    margin-bottom: 0.5em;
}

/*ul*/.list-grid > li h2,
/*ul*/.list-grid > li h3,
/*ul*/.list-grid > li h4 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

/*ul,ol*/.list-grid .divider {
    border-top: 1px solid #CCCCCC;
    padding-top: 0.5em;
}

/*ul,ol*/.list-grid .divider-success { border-color: #d6e9c6; }
/*ul,ol*/.list-grid .divider-info    { border-color: #bce8f1; }
/*ul,ol*/.list-grid .divider-warning { border-color: #faebcc; }
/*ul,ol*/.list-grid .divider-danger  { border-color: #ebccd1; }




/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

/**
 * Black (inverse) button style for Bootstrap buttons
 */
.btn-inverse {
  color: #ffffff;
  background-color: #333333;
  border-color: #000000;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #4c4c4c; /*#ebebeb;*/
  border-color: #333333;
}

.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background-image: none;
}

.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #333333;
  border-color: #cccccc;
}

.btn-inverse .badge {
  color: #333333;
  background-color: #333333;
}



/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

footer {
    margin-top: 20px;
}

.document-footer {
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    color: #777;
    padding: 10px 0;
}

.ownership,
.copyright {
    color: #777;
    font-size: 0.8em;
}

.ownership {
    text-align: right;
}
@media only screen and (max-width: 767px) {
    .ownership {
        text-align: left;
    }
}