/** Data Locker common styles **/

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS.............You're reading it!
 * 404_PAGE.............Styling for the 404 page
 * ACCESSIBILITY........Improve the accessibility of certain structures
 * ARCHIVED.............Styling for archiving submissions and associated actions
 * AUTO_COMPLETE........Styling for the auto-complete dialog
 * BREADCRUMBS..........Breadcrumb list stying
 * BUTTONS..............Button styling
 * DELETED..............Styles for deleting submissions and associated actions
 * DISCUSSION...........Discussion display and editing
 * EDIT_DIALOG..........Styling for the Edit Locker dialog
 * FOOTER...............Styling specifically for the page footer
 * GENERAL..............General styles
 * HEADER...............Styling specifically for the page header
 * KEY_VALUE_PAIRS......Key/value pair display styling
 * SHARING_DIALOG.......Styling for the sharing dialog
 * TABLES...............Table specific styling
 * TOGGLE_SWITCH........Toggle Switch the stying when entering and exiting maintenance mode
 * WORKFLOW.............Styling for the workflow portlet
 */




/*------------------------------------*\
    $404_PAGE
\*------------------------------------*/

.error-message {
  text-align: center;
}

.error-message h1 {
  font-weight: bold;
}




/*------------------------------------*\
    $ACCESSIBILITY
\*------------------------------------*/

/**
 * More accessible definition list styling
 */
/*ul*/.definition-list {
    list-style-type: none;
}

/*ul*/.definition-list li {
    margin-bottom: 2em;
}

/*ul*/.definition-list li h2,
/*ul*/.definition-list li h3,
/*ul*/.definition-list li h4 {
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0;
}

/*ul*/.definition-list li p {
    margin-left: 3em;
}


/**
 * Accessible key/value pair listing using the Bootstrap grid system
 */
/*ul*/.list-grid > li {
    margin-bottom: 0.5em;
}

/*ul*/.list-grid > li h2,
/*ul*/.list-grid > li h3,
/*ul*/.list-grid > li h4 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

/*ul,ol*/.list-grid .divider {
    border-top: 1px solid #CCCCCC;
    padding-top: 0.5em;
}

/*ul,ol*/.list-grid .divider-success { border-color: #d6e9c6; }
/*ul,ol*/.list-grid .divider-info    { border-color: #bce8f1; }
/*ul,ol*/.list-grid .divider-warning { border-color: #faebcc; }
/*ul,ol*/.list-grid .divider-danger  { border-color: #ebccd1; }




/*------------------------------------*\
    $ARCHIVED
\*------------------------------------*/

.button-archived-showhide .is-active {
  display: active;
}

/* show/hide the archived rows */
.is-archived { display: none; }
.js-show-archived .is-archived { display: table-row; }

/* show/hide the archive labels */
.is-archived .archived-label {
  display: inline;
  margin-left: .5em;
}
.archived-label {
  display: none;
}

/* show/hide the archive/unarchive buttons */
button[role='unarchive-locker'] { display: none; }
button[role='archive-locker']   { display: inline-block; }
.is-archived button[role='unarchive-locker'] { display: inline-block; }
.is-archived button[role='archive-locker'] { display: none; }

/* if archived locker hide locker option buttons */
button[role='edit-users'] { display: inline-block; }
button[role='edit-locker'] { display: inline-block; }
.is-archived button[role='edit-users'] { display: none; }
.is-archived button[role='edit-locker'] { display: none; }




/*------------------------------------*\
    $AUTO_COMPLETE
\*------------------------------------*/

.tt-menu {
    background-color: #FFF;
    border: 1px solid #999;
    padding: 8px;
    border-radius: 0px 5px 5px 5px;
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
}

.form-inline .tt-menu {
    margin-top: 20px;
}

.tt-suggestion {
    padding: 2px 10px;
    font-size: 14px;
    line-height: 18px;
}

.tt-suggestion:hover {
    background-color: #337AB7;
    color: #FFF;
    cursor: pointer;
}

.tt-suggestion.tt-cursor {
    background-color: #337AB7;
    color: #FFF;
}




/*-----------------------------------*\
    $BREADCRUMBS
\*-----------------------------------*/

.document-breadcrumbs {
  margin: 0.2em 1em;
}

/*ol*/.breadcrumb-trail {
  display: inline-block;
  list-style-type: none;
  padding-left: 0.5em;
}

/*ol*/.breadcrumb-trail > li {
    display: inline-block;
}

/*ol*/.breadcrumb-trail > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

/*ol*/.breadcrumb-trail > .active {
  color: #777;
}




/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

/**
 * Black (inverse) button style for Bootstrap buttons
 */
.btn-inverse {
  color: #ffffff;
  background-color: #333333;
  border-color: #000000;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #4c4c4c; /*#ebebeb;*/
  border-color: #333333;
}

.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background-image: none;
}

.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #333333;
  border-color: #cccccc;
}

.btn-inverse .badge {
  color: #333333;
  background-color: #333333;
}




/*------------------------------------*\
    $DELETED
\*------------------------------------*/

/* show/hide maintenance mode warning */
.warning-maintenance-mode { display: none; }
.js-show-deleted .warning-maintenance-mode { display: block; }

/* show/hide the deleted rows */
.is-deleted { display: none; }
.js-show-deleted .is-deleted { display: table-row; }
.js-show-deleted table > tbody tr.is-deleted {
    background-color: #CCC;
}

/* show/hide the delete labels */
.js-show-deleted .is-deleted .label-deleted {
    display: inline-block;
    margin-left: .5em;
}
.label-deleted {
    display: none;
}

/* show/hide the delete/undelete buttons */
button[role='undelete-submission'] { display: none; }
button[role='delete-submission']   { display: none; }
.js-show-deleted button[role='undelete-submission'] { display: none; }
.js-show-deleted button[role='delete-submission']   { display: inline-block; }
.js-show-deleted .is-deleted button[role='undelete-submission'] { display: inline-block; }
.js-show-deleted .is-deleted button[role='delete-submission'] { display: none; }




/*-----------------------------------*\
    $DISCUSSION
\*-----------------------------------*/

.panel-discussion form input[type='submit'],
.panel-discussion form input[type='button'] {
   margin-left: 5px;
    margin-top: -10px;
}

/*ol,ul*/.discussion-tree {
    margin-top: 5em;
}

/*ol,ul*/.discussion-tree .user-icon {
    border: 1px solid #999;
    font-size: 20px;
    font-weight: bold;
    height: 45px;
    padding-top: 7px;
    text-align: center;
    width: 45px;

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

/*ol,ul*/.discussion-tree .discussion-replies {
    list-style-type: none;
    margin-left: 15px;
    margin-top: 15px;
}




/*------------------------------------*\
    $EDIT_DIALOG
\*------------------------------------*/

.sub-option {
    margin-left: 2em;
}




/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

footer {
    margin-top: 20px;
}

.document-footer {
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    color: #777;
    padding: 10px 0;
}

.ownership,
.copyright {
    color: #777;
    font-size: 0.8em;
}

.ownership {
    text-align: right;
}
@media only screen and (max-width: 767px) {
    .ownership {
        text-align: left;
    }
}




/*------------------------------------*\
    $GENERAL
\*------------------------------------*/

caption {
  font-size: 1.75em;
}

.document-footer {
  margin-top: 150px;
}

.dl-horizontal dd {
  margin-left: 150px;
  line-height: 2.5;
  font-size:16px;
}

.dl-horizontal dt {
  float: left;
  width: 450px;
  clear: left;
  text-align: justify;
  padding-left: 2em;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  font-size:16px;
}

h5 {
    font-weight: bold;
}

.pagination,
.pagination a {
    margin: .5em;
 }

.select-all-checkbox {
  font-size: 12px;
  font-weight: normal;
}

.submission-heading {
  font-weight: bold;
}

.sub-list {
  margin-left: 2em;
  font-size: 16px;
}

.sub-list dd {
  padding-bottom: 1em;
}




/*-----------------------------------*\
    $HEADER
\*-----------------------------------*/

/**
 * Bootstrap implements a margin below a navigation bar, this shifts that
 * margin to the overall header and not just the navigation bar.
 */
.document-header .navbar { margin-bottom: 0; }
header { margin-bottom: 20px; }




/*-----------------------------------*\
    $KEY_VALUE_PAIRS
\*-----------------------------------*/

/*ol,ul*/ .key-value-pair {
    margin-bottom: 1em;
    margin-left: 2em;
}

/*ol,ul*/ .key-value-pair .key {
    font-size: 14px;
}

/*ol,ul*/ .key-value-pair .value {
    font-size: 16px;
    font-weight: bold;
    padding-left: 2em;
}




/*-----------------------------------*\
    $SHARE_DIALOG
\*-----------------------------------*/

.dialog-sharing .list-existing-users {
    margin-bottom: 3em;
}

.dialog-sharing .list-existing-users,
.dialog-sharing .list-existing-users li > div {
    display: inline-block;
}

.dialog-sharing .list-existing-users li > a {
    margin-top: 2px;
    padding-left: 10px;
}




/*------------------------------------*\
    $TABLES
\*------------------------------------*/

.record-actions {
  text-align: right;
}

.record-name {
  width: 600px;
}

.url {
  display: block;
  margin-left: 1em;
  font-size: 13px;
  opacity: 0.75;
}




/*------------------------------------*\
    $TOGGLE_SWITCH
\*------------------------------------*/

.switch-toggle {
    float: right;
}

.toggle.btn {
    width: 150px;
}




/*------------------------------------*\
    $WORKFLOW
\*------------------------------------*/

.workflow-label {
    display: inline-block;
    font-size: 12px;
}

.workflow-state {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin-left: 5px;
}

.panel-workflow form {
    margin-top: 2em;
}