/*
  tablesorter style rules
  in order to use the styling for table sorter you need a table defined with
  a thead and tbody tags. You will need to apply the class header to all the
  tr tags in the thead sections of the table.
 */

/*------------------------------------*\
    $TABLESORTER
\*------------------------------------*/
table.tablesorter thead tr .header
{
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 20px;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp
{
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown
{
	background-image: url(../img/desc.gif);
}
